<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:height="http://www.w3.org/1999/xhtml">
<head>

    <title>Movie</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<style>
    Body {
    height: 100%;
    margin: 0;
    background-image: url("https://i.ibb.co/qnqFGWd/fundal.png");
    background-repeat: repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed; }


</style>
<style>
h1 {

-webkit-text-fill-color: white;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  font-size: 45px;
  width:1000px;
  word-wrap:break-word;
}
</style>

<style>
hr {
  height: 2px;
  background-color: #ffffff;
  border: none;
}
</style>
<body>
<div th:replace="fragments/navs.html :: topnav"></div>


<div class="d-flex justify-content-center" style="padding-top: 30px;">
    <div class="w3-container w3-red">
        <div class="card-body" style="margin-left:5em;margin-right:5em;">
            <p style="color:white;width:400px; word-wrap:break-word;"> <h1> <b><span th:text="${movie.movieTitle}"></span></b></h1></p>

            <div class="row">
                <div class="column">
                    <td><img th:src="${movie.photosImagePath}" class="img-round"
                             style="margin-left:1em;margin-right:1em;" width="264" height="410"/></td>
                </div>

                <div class="column">
                    <iframe width="750" height="410" th:src="${movie.movieURL}" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            <hr style="color:white;">
            <p style="color:LightGray;"><b>Genre:  </b> <span style="color:white;" th:text="${movie.movieGenre}"></span></p>
            <p style="color:white;width:900px; word-wrap:break-word;"><b>Cast:</b> <span th:text="${movie.cast}"></span></p>
            <p  style="color:white;"> <b>Director:  </b><span th:text="${movie.director}"></span></p>
            <p style="color:white;"><b>Year of Release:  </b> <span th:text="${movie.yearRelease}"></span></p>
            <p style="color:white;"><b>Length:  </b> <span th:text="${movie.length}"></span></p>
            <p style="color:white;width:900px; word-wrap:break-word;"><b>Description:  </b> <span th:text="${movie.description}"></span></p>
            <p style="color:white;"><b>Rating:  </b> <span th:text="${movie.imdbRating}"></span> <span>&#11088;</span>

            </p>

            <a class="btn btn-secondary" href="/index">Back</a>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>