<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Cinema Movie</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <div class="container">
    <h1>ADD A NEW MOVIE</h1>
        <hr>
        <h2>Save Movie</h2>

        <form action="#" th:action="@{/saveMovie}" th:object="${movie}" method="POST" enctype="multipart/form-data">
            <input type="text" th:field="*{movieTitle}" placeholder="Movie Title" class="form-control mb-4 col-4">

            <input type="text" th:field="*{movieGenre}" placeholder="Movie Genre" class="form-control mb-4 col-4">

            <input type="text" th:field="*{cast}" placeholder="Cast" class="form-control mb-4 col-4">

            <input type="text" th:field="*{director}" placeholder="Director" class="form-control mb-4 col-4">

            <input type="text" th:field="*{yearRelease}" placeholder="Year Of Release" class="form-control mb-4 col-4">

            <input type="text" th:field="*{length}" placeholder="Movie length" class="form-control mb-4 col-4">

            <input type="text" th:field="*{description}" placeholder="Description" class="form-control mb-4 col-4">

            <input type="text" th:field="*{imdbRating}" placeholder="Rating" class="form-control mb-4 col-4">

            <a href="/index">
                <input type="submit"/>
            </a>
        </form>
    <hr>

        <form action="@{/index}">
            <button type="button" class="button1" th:onclick="|window.location.href='/index'|"> Back to Movie List</button>
        </form>
    </div>
</div>

    </body>
</html>