<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Register Succes</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <style>
    p {
        font-size: 30px;
          }

    body{
        padding-top: 20vh;
        }

    </style>
</head>
<body>
<div class="container" align="center">
    <div>
        <p> You have successfully registered! Please check your email address </p>

        <a><p th:text="${user.email}"></p></a>

        <p> following the next icon: </p>

        <div th:if="${#strings.containsIgnoreCase(user.email,'yahoo')}">
            <a href="https://mail.yahoo.com/" target="_blank">
                <img border="0" alt="Yahoo"
                     src="https://icons-for-free.com/iconfiles/png/512/logo+search+engine+website+yahoo+icon-1320168602217718066.png"
                     width="50" height="50"></a>
        </div>
        <div th:if="${#strings.containsIgnoreCase(user.email,'gmail')}">
            <a href="https://mail.google.com/" target="_blank">
                <img border="0" alt="Gmail"
                     src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-original-577x577/s3/112013/gmail.png?itok=s1WEASde"
                     width="50" height="50"></a>
        </div>


    </div>
    <br><br><br>

</div>
</body>
</html>